
.component-BlogPost {
  .post-title {
    margin-bottom: 0;
  }
  .post-date {
    text-align: right;
    margin-top: 0;
  }

  .post-content {
  }

  .read-more-posts {
    padding: 40px 0 10px 0;
    text-align: center;
  }
}