
.component-BlogPost {
  .post-title {
    //float:left;
    margin-bottom: 0;
  }
  .post-date {
    text-align: right;
    margin-top: 0;
    //float:right;
  }

  .post-content {
    //clear: both;
  }
}